<!-- <p>popupalert works!</p> -->
<div class="modal-header" *ngIf="chatRequest!=null">
    <h5 *ngIf="chatRequest.type==0">Chat Request</h5>
    <h5 *ngIf="chatRequest.type==1">Call Request</h5>
    <button (click)="close()" aria-label="Close" class="close" type="button" style="padding: 10px;">
        <span aria-hidden="true" style="font-size: 15px;">&times;</span>
    </button>
</div>
<div class="card" *ngIf="userDetail!=null&&userDetail!=undefined">
    <div class="card-body">
    <div class="row">
        <label *ngIf="chatRequest.type==0" class="ml-1">You have a new Chat Request from the below user: </label>
        <label *ngIf="chatRequest.type==1" class="ml-1">You have a new Call Request from the below user: </label>
        <label>Left Time : {{utilService.getTimerTimeLeft(timeLeft)}}</label>
        <div class="col-12">
            <img *ngIf="utilService.checkValue(userDetail.image)"
                 [src]="apiService.BASE_IMAGE_URL+'/'+userDetail.image" style="width: 100px !important; margin: auto; display: block;"/>
        </div>
        <div class="col-12">
            <b> Client Name : </b> {{userDetail.first_name}} {{userDetail.last_name}}<br>
            <b>Client Gender : </b> <span *ngIf="userDetail.gender==0">Male</span><span
                *ngIf="userDetail.gender==1">Female</span><span
                *ngIf="userDetail.gender==2">Other</span><br>
            <b>Client DOB : </b> {{userDetail.dob}}<br>
            <b>Client TOB : </b> {{userDetail.tob}}<br>
            <b>Client City : </b> {{userDetail.cityDetail.name}}<br>
            <b>Client State : </b> {{userDetail.stateDetail.name}}<br>

            <p style="font-size: 12px; margin: auto; display: block;"><b> Safety Tip: </b> Please do not share your
                personal contact details like Phone number, email ID, PAN, Aadhar or Bank details. </p>

        </div>
    </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row w-100">
        <div class="col-4">
            <button class="btn btn-primary m-0" (click)="openKundli()">KUNDLI</button>
        </div>
        <div class="col-4">
            <button class="btn btn-primary m-0" (click)="requestAction(1)">ACCEPT</button>
        </div>
        <div class="col-4">
            <button class="btn btn-primary m-0" (click)="requestAction(3)">DECLINE</button>
        </div>
    </div>
</div>
