<!-- <p>profile works!</p> -->
<div class="card card-user" *ngIf="astroDetail!=null&&astroDetail!=undefined">
    <div class="card-header pt-0">
        <div class="d-flex">
            <h5 (click)="Information_tab=true;Bank_tab=false;" [ngClass]="{'active': Information_tab}"
                class="card-title">
                Information
            </h5>
            <!--            <h5 (click)="openSME_tab()" [ngClass]="{'active': SME_tab}" class="card-title">-->
            <!--                Profile SME Details</h5>-->
            <h5 (click)="Information_tab=false;Bank_tab=true;" [ngClass]="{'active': Bank_tab}" class="card-title">
                Bank Details</h5>
        </div>
    </div>
    <div *ngIf="Information_tab" class="card-body">
        <div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-group">
                        <label>Image (300 X 300) <i class="fa fa-info-circle" (click)="infoModal()"></i></label>
                        <div style="position: relative;">
                            <img *ngIf="profile_pic==utilService.DEFAULT_IMAGE" [src]="profile_pic" alt=""
                                 style="width: 100px; height: 100px;">
                            <img *ngIf="profile_pic!=utilService.DEFAULT_IMAGE"
                                 [src]="apiService.BASE_IMAGE_URL+profile_pic" alt=""
                                 style="width: 100px; height: 100px;">
                            <label class="btn btn-default btn-sm center-block btn-file m-0"
                                   (click)="openCropper('profile_pic')"
                                   style="position: absolute; bottom: 0%;left: 50%;transform: translate(0%, -50%, 0%, -50%);">
                                <i aria-hidden="true" class="fa fa-upload fa-2x text-white"></i>
                                <!--                            <input (change)="onselectimage($event,'profile_pic')" style="display: none;" type="file">-->
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Name</label>
                        <input [(ngModel)]="user_name" class="form-control" placeholder="Name" type="text">
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="form-group ">
                        <label>Email address</label>
                        <input [(ngModel)]="user_email" class="form-control" placeholder="Email" type="email">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group ">
                        <label>Phone Number</label>
                        <input [(ngModel)]="user_phone" readonly="true" class="form-control" placeholder="Phone Number"
                               type="text">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> Gender </b></label>
                        <select [(ngModel)]="gender" class="form-control">
                            <option value="1" selected>Male</option>
                            <option value="2">Female</option>
                            <option value="3">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> Date Of Birth </b></label>
                        <!-- <div class="input-group">
                            <input [(ngModel)]="dob" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                                ngbDatepicker #d="ngbDatepicker">
                            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div> -->
                        <input type="date" class="form-control" [(ngModel)]="dob" [value]="dob" min='1922-01-01'
                               max="2022-09-01">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group m-2 mb-0 p-3">
                        <label> <b> Are you qualified* </b></label>
                        <div style="display: flex;align-items: center">
                            <input [(ngModel)]="qualification" type="radio" id="qual_yes" name="qualification"
                                   value="yes">
                            <label for="yes" style="margin-left: 3px;">Yes</label><br>
                            <input style="margin-left: 7px;" [(ngModel)]="qualification" type="radio" id="qual_no"
                                   name="qualification" value="no">
                            <label for="no" style="margin-left: 3px;">No</label><br>
                        </div>
                    </div>
                </div>
                <div *ngIf="qualification=='yes'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group">
                        <label> <b> Name of Institute* </b></label>
                        <input type="text" maxlength="250" class="form-control" [(ngModel)]="institute">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> All Skills* </b></label>
                        <ng-multiselect-dropdown [(ngModel)]="selectAllSkills" [settings]="dropdownSettings"
                                                 [data]="skillList" [placeholder]="'Select All Skills'"
                                                 style="flex-grow: 1;">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> Primary Skills* </b></label>
                        <ng-multiselect-dropdown [(ngModel)]="selectedPrimarySkills" [settings]="dropdownSettings"
                                                 [data]="selectAllSkills" [placeholder]="'Select Primary Skills'"
                                                 style="flex-grow: 1;">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> Language* </b></label>
                        <ng-multiselect-dropdown [(ngModel)]="selectedLanguages" [settings]="dropdownSettings"
                                                 [data]="languages" [placeholder]="'Select Language'"
                                                 style="flex-grow: 1;">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label><b> Define Experience in Years* </b></label>
                        <ng-multiselect-dropdown [(ngModel)]="selectedExperience" [settings]="expDD"
                                                 [data]="experienceList" [placeholder]="'Select Experience'"
                                                 style="flex-grow: 1;">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label><b> How many hours you can contribute daily?* </b></label>
                        <select [(ngModel)]="daily_hrs" class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> Are you working on any other online platform? </b></label>
                        <div style="display: flex;align-items: center">
                            <input [(ngModel)]="other_platform" type="radio" id="yes" name="other_platform" value="yes"
                                   (change)="on_other_platform">
                            <label for="yes" style="margin-left: 3px;">Yes</label><br>
                            <input style="margin-left: 7px;" [(ngModel)]="other_platform" type="radio" id="no"
                                   name="other_platform" value="no" (change)="on_other_platform">
                            <label for="no" style="margin-left: 3px;">No</label><br>
                            <input class="form-control" placeholder="" type="text" *ngIf="reason_other_platform"
                                   value="">
                        </div>
                    </div>
                </div>
                <div *ngIf="other_platform=='yes'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group">
                        <label> <b> Other platform name* </b></label>
                        <input type="text" class="form-control" [(ngModel)]="other_platform_name">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label><b> Why do you think we should onboard you?* </b></label>
                        <input [(ngModel)]="onboard_reason" class="form-control" placeholder="" type="text" value="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label><b> Which city do you currently live in* </b></label>
                        <ng-multiselect-dropdown [(ngModel)]="selectedCities" [settings]="expDD" [data]="cities"
                                                 [placeholder]="'Select City'" style="flex-grow: 1;">
                        </ng-multiselect-dropdown>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label><b> Main source of business (other than astrology* </b></label>
                        <input [(ngModel)]="income_source" class="form-control" placeholder="" type="text" value="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label> <b> Did anybody refer you to Astroplus?* </b></label>
                        <div style="display: flex;align-items: center">
                            <input [(ngModel)]="refer" type="radio" id="refer_yes" name="refer" value="yes">
                            <label for="refer_yes" style="margin-left: 3px;">Yes</label><br>
                            <input style="margin-left: 7px;" [(ngModel)]="refer" type="radio" id="refer_no" name="refer"
                                   value="no">
                            <label for="refer_no" style="margin-left: 3px;">No</label><br>
                        </div>
                    </div>
                </div>
                <div *ngIf="refer=='yes'" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="form-group ">
                        <label><b> Refer ID* </b></label>
                        <input [(ngModel)]="refer_id" class="form-control" placeholder="" type="text" value="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label> <b> Chat Charges Per Minute </b></label>
                        <input [(ngModel)]="per_min_chat_charge" class="form-control"
                               placeholder="Enter Chat Charges Per Minute" type="number" min="0" oninput="this.value = Math.abs(this.value)">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label> <b> Call Charges Per Minute </b></label>
                        <input [(ngModel)]="per_min_call_charge" class="form-control"
                               placeholder="Enter Call Charges Per Minute" type="number" min="0" oninput="this.value = Math.abs(this.value)">
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group ">
                        <label> <b> Long Bio ({{200 - bio.length}} chars left)</b></label>
                        <textarea [(ngModel)]="bio" class="form-control" placeholder="Long Bio" cols="30"
                                  rows="10" maxlength="200"></textarea>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div *ngIf="SME_tab" class="card-body">
        <div style="padding: 15px;">
            <div class="row ">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label> Chat Charges Per Minute</label>
                        <input [(ngModel)]="per_min_chat_charge" class="form-control"
                               placeholder="Enter Chat Charges Per Minute" type="number">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label> Call Charges Per Minute</label>
                        <input [(ngModel)]="per_min_call_charge" class="form-control"
                               placeholder="Enter Call Charges Per Minute" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <button (click)="submitAstroCharges()" class="btn btn-primary btn-round text-center" type="submit">
                    Submit
                </button>
            </div>
        </div>

    </div>
    <div *ngIf="Bank_tab" class="card-body">
        <div>
            <h4>Bank Details</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Account Holder Name</label>
                        <input [(ngModel)]="account_holder_name" class="form-control" placeholder="Name"
                               (keypress)="omit_special_char($event)">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Account Type</label>
                        <select [(ngModel)]="account_type" class="form-control" placeholder="Select Account Type"
                                type="text">
                            <option value="savings">Savings</option>
                            <option value="current">Current</option>
                            <!--                            <option value="overdaft">Overdraft</option>-->
                            <!--                            <option value="cash_credit">Cash Credit</option>-->
                            <!--                            <option value="loan_account">Loan Account</option>-->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Acc Number</label>
                        <input [(ngModel)]="account_no" class="form-control" placeholder="Enter Acc Number"
                               oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                               type="number"
                               maxlength="17" min="0">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>IFSC Code</label>
                        <input [(ngModel)]="ifsc" class="form-control" placeholder="Enter IFSC Code"
                               type="text" (keypress)="omit_special_char($event)"
                               maxlength="11" min="0" title="Please enter valid PAN number. E.g. AAAAA9999A" required
                               type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>PAN Number</label>
                        <input [(ngModel)]="pan_number" class="form-control" placeholder="Enter PAN Number"
                               maxlength="10" (keypress)="omit_special_char($event)" min="0"
                               title="Please enter valid PAN number. E.g. AAAAA9999A" required type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>PAN Card</label>
                        <div style=" margin: auto; display: block;">
                            <img *ngIf="pan_path==null||pan_path==undefined||pan_path==utilService.DEFAULT_BANNER"
                                 [src]="utilService.DEFAULT_BANNER" alt="" style="width: 100%; height: 150px; ">
                            <img *ngIf="pan_path!=null&&pan_path!=undefined&&pan_path!=utilService.DEFAULT_BANNER"
                                 [src]="apiService.BASE_IMAGE_URL+pan_path" alt="" style="width: 100%; height: 150px; ">
                            <label class="btn btn-default btn-sm center-block btn-file m-0"
                                   style="position: absolute; bottom: 0%;left: 50%;transform: translate(0%, -50%, 0%, -50%);">
                                <i (click)="openCropper('pan_image')" aria-hidden="true"
                                   class="fa fa-upload fa-2x text-white"></i>
                                <!--                            <input (change)="onselectimage($event,'profile_pic')" style="display: none;" type="file">-->
                            </label>
                            <!--                                <button (change)="openCropper('pan_image')" class="btn btn-primary btn-round" type="submit">-->
                            <!--                                    SELECT-->
                            <!--                                </button>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Upload Cancel Cheque</label>
                        <div style=" margin: auto; display: block;">
                            <img *ngIf="cheque_path==null||cheque_path==undefined||cheque_path==utilService.DEFAULT_BANNER"
                                 [src]="utilService.DEFAULT_BANNER" alt="" style="width: 100%; height: 150px; ">
                            <img *ngIf="cheque_path!=null&&cheque_path!=undefined&&cheque_path!=utilService.DEFAULT_BANNER"
                                 [src]="apiService.BASE_IMAGE_URL+cheque_path" alt=""
                                 style="width: 100%; height: 150px; ">
                            <label class="btn btn-default btn-sm center-block btn-file m-0"
                                   style="position: absolute; bottom: 0%;left: 50%;transform: translate(0%, -50%, 0%, -50%);">
                                <i (click)="openCropper('cheque_image')" aria-hidden="true"
                                   class="fa fa-upload fa-2x text-white"></i>
                                <!--                            <input (change)="onselectimage($event,'profile_pic')" style="display: none;" type="file">-->
                            </label>
                            <!--                                <button (click)="openCropper('cheque_image')" class="btn btn-primary btn-round" type="submit">-->
                            <!--                                    SELECT-->
                            <!--                                </button>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label>Upload Recoganised Address Proof</label>
                        <div style=" margin: auto; display: block;">
                            <img *ngIf="address_proof==null||address_proof==undefined||address_proof==utilService.DEFAULT_BANNER||address_proof==''"
                                 [src]="utilService.DEFAULT_BANNER" alt="" style="width: 100%; height: 150px; ">
                            <img *ngIf="address_proof!=null&&address_proof!=undefined&&address_proof!=utilService.DEFAULT_BANNER&&address_proof!=''"
                                 [src]="apiService.BASE_IMAGE_URL+address_proof" alt=""
                                 style="width: 100%; height: 150px; ">
                            <label class="btn btn-default btn-sm center-block btn-file m-0"
                                   style="position: absolute; bottom: 0%;left: 50%;transform: translate(0%, -50%, 0%, -50%);">
                                <i (click)="openCropper('address_image')" aria-hidden="true"
                                   class="fa fa-upload fa-2x text-white"></i>
                                <!--                            <input (change)="onselectimage($event,'profile_pic')" style="display: none;" type="file">-->
                            </label>
                            <!--                                <button (click)="openCropper('cheque_image')" class="btn btn-primary btn-round" type="submit">-->
                            <!--                                    SELECT-->
                            <!--                                </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--        <div class="row">-->
        <!--            <div class="update ml-auto mr-auto">-->
        <!--                <button (click)="submitBankDetails()" class="btn btn-primary btn-round" type="submit">-->
        <!--                    SUBMIT-->
        <!--                </button>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>

    <div class="card-footer">
        <button *ngIf="astroDetail!=null&&showUpdateButton" (click)="updateAstrologer()"
                class="btn btn-primary btn-round text-center btn-sm" type="submit">Change Update profile & Submit for
            Approval
        </button>
        <!--            <p class="border-bottom">{{not.created_at | date:'dd-MMM-yyyy hh:mm a'}} - Profile update sent to admin for approvals</p>-->
        <div class="card" *ngFor="let not of astroProfileUpdateList">
            <div class="card-body">
                <div class="row">
                    <div class="col-auto">
                        <img src="assets/img/bell.png" style="width: 40px;height: 40px;" alt="">
                    </div>
                    <div class="col">
                        <p class="mb-0" style="font-weight: bolder">Profile is sent to admin for approval <span
                                *ngIf="not.approve_status==0">(Pending)</span> <span
                                *ngIf="not.approve_status==1">(Approved)</span> <span
                                *ngIf="not.approve_status==2">(Declined)</span></p>
                        <p *ngIf="not.approve_status==2" class="mb-0" style="font-weight: 600;">REASON :
                            {{not.decline_reason}}</p>
                        <p class="mb-0" style="font-weight: 600;">{{not.created_at |date:'dd-MMM-yyyy, hh:mm a'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .card-title {
        background-color: transparent;
        margin: auto 10px auto 0px;
        padding: 2px 10px;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        border: solid 1px #f0b241;
    }

    .active {
        background-color: #f0b241;
        color: white;
    }
</style>
