<div class="container">
    <div class="card">
        <div class="card-header">
            Image Cropper
        </div>
        <div class="card-body">
            <input type="file" (change)="fileChangeEvent($event)" accept="image/*" />
            <div class="row" style="margin-top: 15px;">
                <div class="text-center col-md-8">
                    <h5>Crop Image</h5>
                    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false"
                        [aspectRatio]="ratio" [resizeToWidth]="width" format="png" (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"></image-cropper>
                </div>
                <div class="text-center col-md-4">
                    <h5>Preview</h5>
                    <img [src]="croppedImage" />
                </div>

                <button (click)="submitFile()">
                    SUBMIT
                </button>

                <button (click)="cancel()">
                    CANCEL
                </button>
            </div>
        </div>
    </div>
</div>
