<!-- <p>conductedchatscalls works!</p> -->
<div class="row">
    <div class="col-md-12">
        <div class="card-body p-2">
            <div class="d-flex">
                <h5 (click)="opentab('Chat')" [ngClass]="{'active': Chat_tab}" class="card-title mr-3">Chat</h5>
                <h5 (click)="opentab('Call')" [ngClass]="{'active': Call_tab}" class="card-title mr-3">Call</h5>
            </div>

            <hr>

        </div>
        <div>
            <div class="card">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <img src="/assets/img/default-avatar.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0" style="font-weight: 600;">Shravan kumar vishwakarma</p>
                                <p class="mb-0" style="font-weight: 600;">Amount Charged: 200rs</p>
                                <p class="mb-0" style="font-weight: 600;">Duration: 5mins</p>
                                <p class="mb-0" style="font-weight: 600;">Rating:
                                    <ngb-rating [rate]="3"></ngb-rating>
                                </p>
                                <p class="mb-0" style="font-weight: 600;">27/07/2022 11:14</p>
                            </div>
                            <div class="col"><b>Review:-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Aut
                                quisquam culpa quia omnis fugiat reprehenderit natus fugit quo nisi! Cupiditate ex
                                distinctio beatae deleniti voluptatum magnam molestias, error culpa explicabo.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <img src="/assets/img/default-avatar.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0" style="font-weight: 600;">Shravan kumar vishwakarma</p>
                                <p class="mb-0" style="font-weight: 600;">Amount Charged: 200rs</p>
                                <p class="mb-0" style="font-weight: 600;">Duration: 5mins</p>
                                <p class="mb-0" style="font-weight: 600;">Rating:
                                    <ngb-rating [rate]="3"></ngb-rating>
                                </p>
                                <p class="mb-0" style="font-weight: 600;">27/07/2022 11:14</p>
                            </div>
                            <div class="col"><b>Review:-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Aut
                                quisquam culpa quia omnis fugiat reprehenderit natus fugit quo nisi! Cupiditate ex
                                distinctio beatae deleniti voluptatum magnam molestias, error culpa explicabo.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <img src="/assets/img/default-avatar.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0" style="font-weight: 600;">Shravan kumar vishwakarma</p>
                                <p class="mb-0" style="font-weight: 600;">Amount Charged: 200rs</p>
                                <p class="mb-0" style="font-weight: 600;">Duration: 5mins</p>
                                <p class="mb-0" style="font-weight: 600;">Rating:
                                    <ngb-rating [rate]="3"></ngb-rating>
                                </p>
                                <p class="mb-0" style="font-weight: 600;">27/07/2022 11:14</p>
                            </div>
                            <div class="col"><b>Review:-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Aut
                                quisquam culpa quia omnis fugiat reprehenderit natus fugit quo nisi! Cupiditate ex
                                distinctio beatae deleniti voluptatum magnam molestias, error culpa explicabo.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <img src="/assets/img/default-avatar.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0" style="font-weight: 600;">Shravan kumar vishwakarma</p>
                                <p class="mb-0" style="font-weight: 600;">Amount Charged: 200rs</p>
                                <p class="mb-0" style="font-weight: 600;">Duration: 5mins</p>
                                <p class="mb-0" style="font-weight: 600;">Rating:
                                    <ngb-rating [rate]="3"></ngb-rating>
                                </p>
                                <p class="mb-0" style="font-weight: 600;">27/07/2022 11:14</p>
                            </div>
                            <div class="col"><b>Review:-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Aut
                                quisquam culpa quia omnis fugiat reprehenderit natus fugit quo nisi! Cupiditate ex
                                distinctio beatae deleniti voluptatum magnam molestias, error culpa explicabo.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto align-self-center">
                                <img src="/assets/img/default-avatar.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0" style="font-weight: 600;">Shravan kumar vishwakarma</p>
                                <p class="mb-0" style="font-weight: 600;">Amount Charged: 200rs</p>
                                <p class="mb-0" style="font-weight: 600;">Duration: 5mins</p>
                                <p class="mb-0" style="font-weight: 600;">Rating:
                                    <ngb-rating [rate]="3"></ngb-rating>
                                </p>
                                <p class="mb-0" style="font-weight: 600;">27/07/2022 11:14</p>
                            </div>
                            <div class="col"><b>Review:-</b> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                                Aut
                                quisquam culpa quia omnis fugiat reprehenderit natus fugit quo nisi! Cupiditate ex
                                distinctio beatae deleniti voluptatum magnam molestias, error culpa explicabo.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
