<div class="row">
    <div class="col-md-12" *ngFor="let item of alerts">
        <div>
            <div class="card">
                <div class="p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-auto">
                                <img src="/assets/img/bell.png" style="width: 40px;" alt="">
                            </div>
                            <div class="col">
                                <p class="mb-0">{{item.title}}</p>
                                <p class="mb-0"
                                   style="font-weight: 600;">{{item.created_Date | date:'dd-MMM-yyyy hh:mm a'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--modals starts from here-->


<!--<button class="btn btn-lg btn-outline-primary" (click)="openEditTeacher()">Launch demo modal</button>-->

<hr>

<!--<pre>{{ closeResult }}</pre>-->
<!--modals end from here-->
<style>
    .card-title {
        background-color: transparent;
        margin: auto 10px auto 0px;
        padding: 2px 10px;
        border-radius: 20px;
        font-size: 18px;
        cursor: pointer;
        border: solid 1px #f0b241;
    }

    .active {
        background-color: #f0b241;
        color: white;
    }
</style>
