<!-- <p>password-reset works!</p> -->
<!-- <p>edit-order works!</p> -->
<div class="modal-header">
    <h5>PASSWORD RESET</h5>
    <button (click)="closeModal()" aria-label="Close" class="close" style="margin: -10px -20px; outline: none;"
        type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div *ngIf="!submitted&&!otpVerified">
        <p>Please enter phone number</p>
        <div>
            <input [(ngModel)]="phone" class="form-control" placeholder="Enter Phone Number" required type="tel">
        </div>
        <button (click)="submit()" class="btn btn-primary font-weight-bolder btn-block text-uppercase">
            SUBMIT
        </button>
    </div>

    <div *ngIf="submitted&&!otpVerified">
        <h6 *ngIf="userProfile!=null&&userProfile!=undefined">We have sent you a verification code on +91
            {{userProfile.phone}}</h6>
        <p>Please enter the code you received on your phone here</p>

        <div>
            <input [(ngModel)]="verification_code" class="form-control" placeholder="Enter verification code" required
                type="text">
        </div>

        <p style="text-align: center;">{{utilService.getTimerTimeLeft(timeLeft)}}</p>

        <br>
        <br>
        <button [disabled]="resend_disabled" (click)="submit()"
            class="btn btn-primary font-weight-bolder btn-block text-uppercase">RESEND
        </button>

        <button (click)="submitOTP()" class="btn btn-primary font-weight-bolder btn-block text-uppercase">
            VERIFY
        </button>
    </div>

    <div *ngIf="otpVerified">
        <p>New Password</p>

        <div>
            <input [(ngModel)]="new_password" class="form-control" placeholder="Enter new password" required
                type="password">
        </div>
        <p>Confirm Password</p>

        <div>
            <input [(ngModel)]="confirm_password" class="form-control" placeholder="Enter confirm password" required
                type="password">
        </div>

        <br>
        <br>

        <button (click)="confirmPassword()" class="btn btn-primary font-weight-bolder btn-block text-uppercase">
            RESET
        </button>
    </div>
</div>